body{
    margin: 0%;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.hide{
    display: none;
}
.nav{
    background-color: #ccccb3;
    width: 100%;
    height: 100px;
}

/*resgistro*/

.form{
   margin-top: 4%;
    width: 40%;
    height: auto;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 5px;
    border: groove;
    border-radius: 10px;
}
.button{
    border: none;
    border-radius: 25px;
    width: 150px;
    padding: 10px;
    color:white;
    background-color: #999966;
    margin-top: 10px;
    margin-left: 35%;
};

/*chat*/

.main-container{
    display: flex;
    width: 800px;
    height: 400px;
}

.usuarios{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
  
}

.mensajes{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    align-items: center;
}